.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f1f1f3;
  color: #333;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.container.dark {
  background: #0c0e14;
  color: #fff;
}

.header {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.container.dark .header {
  border-bottom: 1px solid #2f3035;
}

.logo {
  padding-left: 1rem;
  height: 30px;
}

.header-buttons {
  display: flex;
  gap: 10px;
  padding-right: 1rem;
}

.docs-button,
.get-started {
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.docs-button {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
}

.container.dark .docs-button {
  border-color: #fff;
  color: #fff;
}

.get-started {
  background-color: #007bff;
  color: #fff;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-image {
  position: absolute;
  bottom: 0px;
  right: 20px;
  height: 15rem;
  width: auto;
  margin-left: 8px;
}

.footer-text {
  position: absolute;
  bottom: 6px;
  right: 20px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  z-index: 3;
}

.container.dark .footer {
  background-color: rgba(42, 42, 42, 0.8);
}

.container.dark .footer-text {
  color: #ccc;
}

.footer-image.light {
  display: inline;
}

.footer-image.dark {
  display: none;
}

.container.dark .footer-image.light {
  display: none;
}

.container.dark .footer-image.dark {
  display: inline;
}
