@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji"; */
  font-size: 1rem;
}

#brand,
.feature .title {
  font-family: 'Paytone One';
}

#simple {
  @apply bg-[#231631];
}

/* 231631 */
[data-theme='dark'] {
  background-color: #442961;
  background-image: radial-gradient(circle at center center, #673d94, #231631),
    repeating-radial-gradient(
      circle at center center,
      #673d94,
      #231631,
      80px,
      transparent 140px,
      transparent 80px
    );
  background-blend-mode: multiply;
}

[data-theme='light'] {
  @apply bg-[#231631];
}

@media (min-width: 768px) {
  [data-theme='light'] {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23231631%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23673d9485%22 stroke-width=%222%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22%23673d942b%22 d=%22M500 0h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 0h100v100H600z%22%2F%3E%3Cpath fill=%22%23673d9460%22 d=%22M800 0h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 0h100v100H900zM1200 0h100v100h-100zM1400 0h100v100h-100zM1700 0h100v100h-100zM1800 0h100v100h-100zM1900 0h100v100h-100zM0 100h100v100H0zM200 100h100v100H200zM300 100h100v100H300zM400 100h100v100H400zM700 100h100v100H700zM1000 100h100v100h-100zM1100 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9473%22 d=%22M1400 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d942f%22 d=%22M1900 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 200h100v100H0zM100 200h100v100H100zM300 200h100v100H300z%22%2F%3E%3Cpath fill=%22%23673d9419%22 d=%22M700 200h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 200h100v100H900z%22%2F%3E%3Cpath fill=%22%23673d944c%22 d=%22M1300 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 200h100v100h-100zM1900 200h100v100h-100zM400 300h100v100H400z%22%2F%3E%3Cpath fill=%22%23673d9459%22 d=%22M1000 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 300h100v100h-100zM1700 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d942e%22 d=%22M1800 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 300h100v100h-100zM0 400h100v100H0z%22%2F%3E%3Cpath fill=%22%23673d943a%22 d=%22M300 400h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 400h100v100H400z%22%2F%3E%3Cpath fill=%22%23673d9419%22 d=%22M500 400h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 400h100v100H700zM800 400h100v100H800z%22%2F%3E%3Cpath fill=%22%23673d944d%22 d=%22M1000 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 400h100v100h-100zM1300 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9430%22 d=%22M1600 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9454%22 d=%22M1900 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9462%22 d=%22M0 500h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 500h100v100H100z%22%2F%3E%3Cpath fill=%22%23673d9428%22 d=%22M200 500h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 500h100v100H300zM600 500h100v100H600zM1100 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d942b%22 d=%22M1200 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 500h100v100h-100zM1900 500h100v100h-100zM200 600h100v100H200zM600 600h100v100H600zM1000 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9475%22 d=%22M1500 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 600h100v100h-100zM1800 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d944f%22 d=%22M300 700h100v100H300z%22%2F%3E%3Cpath fill=%22%23673d9478%22 d=%22M400 700h100v100H400z%22%2F%3E%3Cpath fill=%22%23673d9432%22 d=%22M500 700h100v100H500z%22%2F%3E%3Cpath fill=%22%23673d9482%22 d=%22M700 700h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 700h100v100h-100zM1700 700h100v100h-100zM1900 700h100v100h-100zM200 800h100v100H200zM400 800h100v100H400z%22%2F%3E%3Cpath fill=%22%23673d9405%22 d=%22M500 800h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 800h100v100H600zM700 800h100v100H700zM800 800h100v100H800zM900 800h100v100H900zM1000 800h100v100h-100zM1100 800h100v100h-100zM1300 800h100v100h-100zM1800 800h100v100h-100zM0 900h100v100H0zM100 900h100v100H100z%22%2F%3E%3Cpath fill=%22%23673d9470%22 d=%22M400 900h100v100H400z%22%2F%3E%3Cpath fill=%22%23673d9484%22 d=%22M500 900h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 900h100v100H600zM800 900h100v100H800z%22%2F%3E%3Cpath fill=%22%23673d9410%22 d=%22M900 900h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 900h100v100h-100zM1100 900h100v100h-100zM1300 900h100v100h-100zM1400 900h100v100h-100zM1500 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9416%22 d=%22M1800 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 900h100v100h-100zM100 1000h100v100H100zM300 1000h100v100H300zM600 1000h100v100H600zM1000 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9443%22 d=%22M1200 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d940f%22 d=%22M1400 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 1000h100v100h-100zM1600 1000h100v100h-100zM1900 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d943a%22 d=%22M200 1100h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 1100h100v100H300z%22%2F%3E%3Cpath fill=%22%23673d947c%22 d=%22M400 1100h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 1100h100v100H600zM700 1100h100v100H700z%22%2F%3E%3Cpath fill=%22%23673d9465%22 d=%22M800 1100h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 1100h100v100H900zM1200 1100h100v100h-100zM1400 1100h100v100h-100zM1600 1100h100v100h-100zM1900 1100h100v100h-100zM400 1200h100v100H400z%22%2F%3E%3Cpath fill=%22%23673d941e%22 d=%22M500 1200h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 1200h100v100H600zM1000 1200h100v100h-100zM1100 1200h100v100h-100zM1300 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d940c%22 d=%22M1700 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 1300h100v100H200zM400 1300h100v100H400z%22%2F%3E%3Cpath fill=%22%23673d947a%22 d=%22M500 1300h100v100H500z%22%2F%3E%3Cpath fill=%22%23673d9477%22 d=%22M600 1300h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 1300h100v100H900zM1100 1300h100v100h-100zM1700 1300h100v100h-100zM1900 1300h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%2266.4%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fff%22 stop-opacity=%22.336%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  }
}

/* [data-theme="light"] {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23231631%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23673d9485%22 stroke-width=%222%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M800 0h100v100H800z%22%2F%3E%3Cpath fill=%22%23673d9441%22 d=%22M1100 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9445%22 d=%22M1200 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9413%22 d=%22M0 100h100v100H0z%22%2F%3E%3Cpath fill=%22%23673d9437%22 d=%22M100 100h100v100H100z%22%2F%3E%3Cpath fill=%22%23673d947e%22 d=%22M300 100h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 100h100v100H900zM1000 100h100v100h-100zM1400 100h100v100h-100zM1500 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9401%22 d=%22M1600 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 100h100v100h-100zM1900 100h100v100h-100zM0 200h100v100H0z%22%2F%3E%3Cpath fill=%22%23673d9431%22 d=%22M400 200h100v100H400z%22%2F%3E%3Cpath fill=%22%23673d9400%22 d=%22M800 200h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 200h100v100h-100zM1200 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9462%22 d=%22M1400 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 200h100v100h-100zM1600 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9446%22 d=%22M300 300h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 300h100v100H400zM800 300h100v100H800zM900 300h100v100H900zM1200 300h100v100h-100zM1300 300h100v100h-100zM1500 300h100v100h-100zM1800 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9436%22 d=%22M0 400h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 400h100v100H100zM500 400h100v100H500zM700 400h100v100H700zM1000 400h100v100h-100zM1200 400h100v100h-100zM1600 400h100v100h-100zM600 500h100v100H600zM700 500h100v100H700zM800 500h100v100H800zM1200 500h100v100h-100zM1500 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9413%22 d=%22M1800 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9443%22 d=%22M400 600h100v100H400z%22%2F%3E%3Cpath fill=%22%23673d945e%22 d=%22M500 600h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 600h100v100H900zM1000 600h100v100h-100zM1200 600h100v100h-100zM1600 600h100v100h-100zM1700 600h100v100h-100zM200 700h100v100H200zM300 700h100v100H300zM500 700h100v100H500zM700 700h100v100H700zM1100 700h100v100h-100zM1200 700h100v100h-100zM1400 700h100v100h-100zM1500 700h100v100h-100zM1800 700h100v100h-100zM100 800h100v100H100zM300 800h100v100H300zM1300 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9479%22 d=%22M1800 800h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 900h100v100H0zM200 900h100v100H200zM400 900h100v100H400z%22%2F%3E%3Cpath fill=%22%23673d9420%22 d=%22M600 900h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 900h100v100h-100zM1300 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9445%22 d=%22M1400 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9411%22 d=%22M1700 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d942f%22 d=%22M100 1000h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 1000h100v100H400zM900 1000h100v100H900zM1200 1000h100v100h-100zM300 1100h100v100H300zM900 1100h100v100H900zM1100 1100h100v100h-100zM1200 1100h100v100h-100zM1300 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9477%22 d=%22M1500 1100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 1100h100v100h-100zM0 1200h100v100H0zM400 1200h100v100H400zM600 1200h100v100H600zM700 1200h100v100H700zM900 1200h100v100H900zM1300 1200h100v100h-100zM1500 1200h100v100h-100zM1600 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%23673d9477%22 d=%22M1700 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 1200h100v100h-100zM200 1300h100v100H200zM300 1300h100v100H300z%22%2F%3E%3Cpath fill=%22%23673d9457%22 d=%22M500 1300h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 1300h100v100H700z%22%2F%3E%3Cpath fill=%22%23673d940f%22 d=%22M1000 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 1300h100v100h-100zM1600 1300h100v100h-100zM1700 1300h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%2266.4%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fff%22 stop-opacity=%22.336%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
} */

/* .stars {
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
} */

/* .twinkling {
  width: 10000px;
  height: 100%;
  background: red url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
} */

.space {
  @apply absolute bottom-0 left-0 right-0 top-0 -z-10;
  background: transparent center / 200px 200px round;
}

.stars1 {
  background-image: radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
}

.stars2 {
  background-image: radial-gradient(1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}
.stars3 {
  background-image: radial-gradient(1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
}

.starsog {
  --star-rgba: rgba(255, 255, 255, 0.8);
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    779px 1331px var(--star-rgba),
    324px 42px var(--star-rgba),
    303px 586px var(--star-rgba),
    1312px 276px var(--star-rgba),
    451px 625px var(--star-rgba),
    521px 1931px var(--star-rgba),
    1087px 1871px var(--star-rgba),
    36px 1546px var(--star-rgba),
    132px 934px var(--star-rgba),
    1698px 901px var(--star-rgba),
    1418px 664px var(--star-rgba),
    1448px 1157px var(--star-rgba),
    1084px 232px var(--star-rgba),
    347px 1776px var(--star-rgba),
    1722px 243px var(--star-rgba),
    1629px 835px var(--star-rgba),
    479px 969px var(--star-rgba),
    1231px 960px var(--star-rgba),
    586px 384px var(--star-rgba),
    164px 527px var(--star-rgba),
    8px 646px var(--star-rgba),
    1150px 1126px var(--star-rgba),
    665px 1357px var(--star-rgba),
    1556px 1982px var(--star-rgba),
    1260px 1961px var(--star-rgba),
    1675px 1741px var(--star-rgba),
    1843px 1514px var(--star-rgba),
    718px 1628px var(--star-rgba),
    242px 1343px var(--star-rgba),
    1497px 1880px var(--star-rgba),
    1364px 230px var(--star-rgba),
    1739px 1302px var(--star-rgba),
    636px 959px var(--star-rgba),
    304px 686px var(--star-rgba),
    614px 751px var(--star-rgba),
    1935px 816px var(--star-rgba),
    1428px 60px var(--star-rgba),
    355px 335px var(--star-rgba),
    1594px 158px var(--star-rgba),
    90px 60px var(--star-rgba),
    1553px 162px var(--star-rgba),
    1239px 1825px var(--star-rgba),
    1945px 587px var(--star-rgba),
    749px 1785px var(--star-rgba),
    1987px 1172px var(--star-rgba),
    1301px 1237px var(--star-rgba),
    1039px 342px var(--star-rgba),
    1585px 1481px var(--star-rgba),
    995px 1048px var(--star-rgba),
    524px 932px var(--star-rgba),
    214px 413px var(--star-rgba),
    1701px 1300px var(--star-rgba),
    1037px 1613px var(--star-rgba),
    1871px 996px var(--star-rgba),
    1360px 1635px var(--star-rgba),
    1110px 1313px var(--star-rgba),
    412px 1783px var(--star-rgba),
    1949px 177px var(--star-rgba),
    903px 1854px var(--star-rgba),
    700px 1936px var(--star-rgba),
    378px 125px var(--star-rgba),
    308px 834px var(--star-rgba),
    1118px 962px var(--star-rgba),
    1350px 1929px var(--star-rgba),
    781px 1811px var(--star-rgba),
    561px 137px var(--star-rgba),
    757px 1148px var(--star-rgba),
    1670px 1979px var(--star-rgba),
    343px 739px var(--star-rgba),
    945px 795px var(--star-rgba),
    576px 1903px var(--star-rgba),
    1078px 1436px var(--star-rgba),
    1583px 450px var(--star-rgba),
    1366px 474px var(--star-rgba),
    297px 1873px var(--star-rgba),
    192px 162px var(--star-rgba),
    1624px 1633px var(--star-rgba),
    59px 453px var(--star-rgba),
    82px 1872px var(--star-rgba),
    1933px 498px var(--star-rgba),
    1966px 1974px var(--star-rgba),
    1975px 1688px var(--star-rgba),
    779px 314px var(--star-rgba),
    1858px 1543px var(--star-rgba),
    73px 1507px var(--star-rgba),
    1693px 975px var(--star-rgba),
    1683px 108px var(--star-rgba),
    1768px 1654px var(--star-rgba),
    654px 14px var(--star-rgba),
    494px 171px var(--star-rgba),
    1689px 1895px var(--star-rgba),
    1660px 263px var(--star-rgba),
    1031px 903px var(--star-rgba),
    1203px 1393px var(--star-rgba),
    1333px 1421px var(--star-rgba),
    1113px 41px var(--star-rgba),
    1206px 1645px var(--star-rgba),
    1325px 1635px var(--star-rgba),
    142px 388px var(--star-rgba),
    572px 215px var(--star-rgba),
    1535px 296px var(--star-rgba),
    1419px 407px var(--star-rgba),
    1379px 1003px var(--star-rgba),
    329px 469px var(--star-rgba),
    1791px 1652px var(--star-rgba),
    935px 1802px var(--star-rgba),
    1330px 1820px var(--star-rgba),
    421px 1933px var(--star-rgba),
    828px 365px var(--star-rgba),
    275px 316px var(--star-rgba),
    707px 960px var(--star-rgba),
    1605px 1554px var(--star-rgba),
    625px 58px var(--star-rgba),
    717px 1697px var(--star-rgba),
    1669px 246px var(--star-rgba),
    1925px 322px var(--star-rgba),
    1154px 1803px var(--star-rgba),
    1929px 295px var(--star-rgba),
    1248px 240px var(--star-rgba),
    1045px 1755px var(--star-rgba),
    166px 942px var(--star-rgba),
    1888px 1773px var(--star-rgba),
    678px 1963px var(--star-rgba),
    1370px 569px var(--star-rgba),
    1974px 1400px var(--star-rgba),
    1786px 460px var(--star-rgba),
    51px 307px var(--star-rgba),
    784px 1400px var(--star-rgba),
    730px 1258px var(--star-rgba),
    1712px 393px var(--star-rgba),
    416px 170px var(--star-rgba),
    1797px 1932px var(--star-rgba),
    572px 219px var(--star-rgba),
    1557px 1856px var(--star-rgba),
    218px 8px var(--star-rgba),
    348px 1334px var(--star-rgba),
    469px 413px var(--star-rgba),
    385px 1738px var(--star-rgba),
    1357px 1818px var(--star-rgba),
    240px 942px var(--star-rgba),
    248px 1847px var(--star-rgba),
    1535px 806px var(--star-rgba),
    236px 1514px var(--star-rgba),
    1429px 1556px var(--star-rgba),
    73px 1633px var(--star-rgba),
    1398px 1121px var(--star-rgba),
    671px 1301px var(--star-rgba),
    1404px 1663px var(--star-rgba),
    740px 1018px var(--star-rgba),
    1600px 377px var(--star-rgba),
    785px 514px var(--star-rgba),
    112px 1084px var(--star-rgba),
    1915px 1887px var(--star-rgba),
    1463px 1848px var(--star-rgba),
    687px 1115px var(--star-rgba),
    1268px 1768px var(--star-rgba),
    1729px 1425px var(--star-rgba),
    1284px 1022px var(--star-rgba),
    801px 974px var(--star-rgba),
    1975px 1317px var(--star-rgba),
    1354px 834px var(--star-rgba),
    1446px 1484px var(--star-rgba),
    1283px 1786px var(--star-rgba),
    11px 523px var(--star-rgba),
    1842px 236px var(--star-rgba),
    1355px 654px var(--star-rgba),
    429px 7px var(--star-rgba),
    1033px 1128px var(--star-rgba),
    157px 297px var(--star-rgba),
    545px 635px var(--star-rgba),
    52px 1080px var(--star-rgba),
    827px 1520px var(--star-rgba),
    1121px 490px var(--star-rgba),
    9px 309px var(--star-rgba),
    1744px 1586px var(--star-rgba),
    1014px 417px var(--star-rgba),
    1534px 524px var(--star-rgba),
    958px 552px var(--star-rgba),
    1403px 1496px var(--star-rgba),
    387px 703px var(--star-rgba),
    1522px 548px var(--star-rgba),
    1355px 282px var(--star-rgba),
    1532px 601px var(--star-rgba),
    1838px 790px var(--star-rgba),
    290px 259px var(--star-rgba),
    295px 598px var(--star-rgba),
    1601px 539px var(--star-rgba),
    1561px 1272px var(--star-rgba),
    34px 1922px var(--star-rgba),
    1024px 543px var(--star-rgba),
    467px 369px var(--star-rgba),
    722px 333px var(--star-rgba),
    1976px 1255px var(--star-rgba),
    766px 983px var(--star-rgba),
    1582px 1285px var(--star-rgba),
    12px 512px var(--star-rgba),
    617px 1410px var(--star-rgba),
    682px 577px var(--star-rgba),
    1334px 1438px var(--star-rgba),
    439px 327px var(--star-rgba),
    1617px 1661px var(--star-rgba),
    673px 129px var(--star-rgba),
    794px 941px var(--star-rgba),
    1386px 1902px var(--star-rgba),
    37px 1353px var(--star-rgba),
    1467px 1353px var(--star-rgba),
    416px 18px var(--star-rgba),
    187px 344px var(--star-rgba),
    200px 1898px var(--star-rgba),
    1491px 1619px var(--star-rgba),
    811px 347px var(--star-rgba),
    924px 1827px var(--star-rgba),
    945px 217px var(--star-rgba),
    1735px 1228px var(--star-rgba),
    379px 1890px var(--star-rgba),
    79px 761px var(--star-rgba),
    825px 1837px var(--star-rgba),
    1980px 1558px var(--star-rgba),
    1308px 1573px var(--star-rgba),
    1488px 1726px var(--star-rgba),
    382px 1208px var(--star-rgba),
    522px 595px var(--star-rgba),
    1277px 1898px var(--star-rgba),
    354px 552px var(--star-rgba),
    161px 1784px var(--star-rgba),
    614px 251px var(--star-rgba),
    526px 1576px var(--star-rgba),
    17px 212px var(--star-rgba),
    179px 996px var(--star-rgba),
    467px 1208px var(--star-rgba),
    1944px 1838px var(--star-rgba),
    1140px 1093px var(--star-rgba),
    858px 1007px var(--star-rgba),
    200px 1064px var(--star-rgba),
    423px 1964px var(--star-rgba),
    1945px 439px var(--star-rgba),
    1377px 689px var(--star-rgba),
    1120px 1437px var(--star-rgba),
    1876px 668px var(--star-rgba),
    907px 1324px var(--star-rgba),
    343px 1976px var(--star-rgba),
    1816px 1501px var(--star-rgba),
    1849px 177px var(--star-rgba),
    647px 91px var(--star-rgba),
    1984px 1012px var(--star-rgba),
    1336px 1300px var(--star-rgba),
    128px 648px var(--star-rgba),
    305px 1060px var(--star-rgba),
    1324px 826px var(--star-rgba),
    1263px 1314px var(--star-rgba),
    1801px 629px var(--star-rgba),
    1614px 1555px var(--star-rgba),
    1634px 90px var(--star-rgba),
    1603px 452px var(--star-rgba),
    891px 1984px var(--star-rgba),
    1556px 1906px var(--star-rgba),
    121px 68px var(--star-rgba),
    1676px 1714px var(--star-rgba),
    516px 936px var(--star-rgba),
    1947px 1492px var(--star-rgba),
    1455px 1519px var(--star-rgba),
    45px 602px var(--star-rgba),
    205px 1039px var(--star-rgba),
    793px 172px var(--star-rgba),
    1562px 1739px var(--star-rgba),
    1056px 110px var(--star-rgba),
    1512px 379px var(--star-rgba),
    1795px 1621px var(--star-rgba),
    1848px 607px var(--star-rgba),
    262px 1719px var(--star-rgba),
    477px 991px var(--star-rgba),
    483px 883px var(--star-rgba),
    1239px 1197px var(--star-rgba),
    1496px 647px var(--star-rgba),
    1649px 25px var(--star-rgba),
    1491px 1946px var(--star-rgba),
    119px 996px var(--star-rgba),
    179px 1472px var(--star-rgba),
    1341px 808px var(--star-rgba),
    1565px 1700px var(--star-rgba),
    407px 1544px var(--star-rgba),
    1754px 357px var(--star-rgba),
    1288px 981px var(--star-rgba),
    902px 1997px var(--star-rgba),
    1755px 1668px var(--star-rgba),
    186px 877px var(--star-rgba),
    1202px 1882px var(--star-rgba),
    461px 1213px var(--star-rgba),
    1400px 748px var(--star-rgba),
    1969px 1899px var(--star-rgba),
    809px 522px var(--star-rgba),
    514px 1219px var(--star-rgba),
    374px 275px var(--star-rgba),
    938px 1973px var(--star-rgba),
    357px 552px var(--star-rgba),
    144px 1722px var(--star-rgba),
    1572px 912px var(--star-rgba),
    402px 1858px var(--star-rgba),
    1544px 1195px var(--star-rgba),
    667px 1257px var(--star-rgba),
    727px 1496px var(--star-rgba),
    993px 232px var(--star-rgba),
    1772px 313px var(--star-rgba),
    1040px 1590px var(--star-rgba),
    1204px 1973px var(--star-rgba),
    1268px 79px var(--star-rgba),
    1555px 1048px var(--star-rgba),
    986px 1707px var(--star-rgba),
    978px 1710px var(--star-rgba),
    713px 360px var(--star-rgba),
    407px 863px var(--star-rgba),
    461px 736px var(--star-rgba),
    284px 1608px var(--star-rgba),
    103px 430px var(--star-rgba),
    1283px 1319px var(--star-rgba),
    977px 1186px var(--star-rgba),
    1966px 1516px var(--star-rgba),
    1287px 1129px var(--star-rgba),
    70px 1098px var(--star-rgba),
    1189px 889px var(--star-rgba),
    1126px 1734px var(--star-rgba),
    309px 1292px var(--star-rgba),
    879px 764px var(--star-rgba),
    65px 473px var(--star-rgba),
    1003px 1959px var(--star-rgba),
    658px 791px var(--star-rgba),
    402px 1576px var(--star-rgba),
    35px 622px var(--star-rgba),
    529px 1589px var(--star-rgba),
    164px 666px var(--star-rgba),
    1876px 1290px var(--star-rgba),
    1541px 526px var(--star-rgba),
    270px 1297px var(--star-rgba),
    440px 865px var(--star-rgba),
    1500px 802px var(--star-rgba),
    182px 1754px var(--star-rgba),
    1264px 892px var(--star-rgba),
    272px 1249px var(--star-rgba),
    1289px 1535px var(--star-rgba),
    190px 1646px var(--star-rgba),
    955px 242px var(--star-rgba),
    1456px 1597px var(--star-rgba),
    1727px 1983px var(--star-rgba),
    635px 801px var(--star-rgba),
    226px 455px var(--star-rgba),
    1396px 1710px var(--star-rgba),
    849px 1863px var(--star-rgba),
    237px 1264px var(--star-rgba),
    839px 140px var(--star-rgba),
    1122px 735px var(--star-rgba),
    1280px 15px var(--star-rgba),
    1318px 242px var(--star-rgba),
    1819px 1148px var(--star-rgba),
    333px 1392px var(--star-rgba),
    1949px 553px var(--star-rgba),
    1878px 1332px var(--star-rgba),
    467px 548px var(--star-rgba),
    1812px 1082px var(--star-rgba),
    1067px 193px var(--star-rgba),
    243px 156px var(--star-rgba),
    483px 1616px var(--star-rgba),
    1714px 933px var(--star-rgba),
    759px 1800px var(--star-rgba),
    1822px 995px var(--star-rgba),
    1877px 572px var(--star-rgba),
    581px 1084px var(--star-rgba),
    107px 732px var(--star-rgba),
    642px 1837px var(--star-rgba),
    166px 1493px var(--star-rgba),
    1555px 198px var(--star-rgba),
    819px 307px var(--star-rgba),
    947px 345px var(--star-rgba),
    827px 224px var(--star-rgba),
    927px 1394px var(--star-rgba),
    540px 467px var(--star-rgba),
    1093px 405px var(--star-rgba),
    1140px 927px var(--star-rgba),
    130px 529px var(--star-rgba),
    33px 1980px var(--star-rgba),
    1147px 1663px var(--star-rgba),
    1616px 1436px var(--star-rgba),
    528px 710px var(--star-rgba),
    798px 1100px var(--star-rgba),
    505px 1480px var(--star-rgba),
    899px 641px var(--star-rgba),
    1909px 1949px var(--star-rgba),
    1311px 964px var(--star-rgba),
    979px 1301px var(--star-rgba),
    1393px 969px var(--star-rgba),
    1793px 1886px var(--star-rgba),
    292px 357px var(--star-rgba),
    1196px 1718px var(--star-rgba),
    1290px 1994px var(--star-rgba),
    537px 1973px var(--star-rgba),
    1181px 1674px var(--star-rgba),
    1740px 1566px var(--star-rgba),
    1307px 265px var(--star-rgba),
    922px 522px var(--star-rgba),
    1892px 472px var(--star-rgba),
    384px 1746px var(--star-rgba),
    392px 1098px var(--star-rgba),
    647px 548px var(--star-rgba),
    390px 1498px var(--star-rgba),
    1246px 138px var(--star-rgba),
    730px 876px var(--star-rgba),
    192px 1472px var(--star-rgba),
    1790px 1789px var(--star-rgba),
    928px 311px var(--star-rgba),
    1253px 1647px var(--star-rgba),
    747px 1921px var(--star-rgba),
    1561px 1025px var(--star-rgba),
    1533px 1292px var(--star-rgba),
    1985px 195px var(--star-rgba),
    728px 729px var(--star-rgba),
    1712px 1936px var(--star-rgba),
    512px 1717px var(--star-rgba),
    1528px 483px var(--star-rgba),
    313px 1642px var(--star-rgba),
    281px 1849px var(--star-rgba),
    1212px 799px var(--star-rgba),
    435px 1191px var(--star-rgba),
    1422px 611px var(--star-rgba),
    1718px 1964px var(--star-rgba),
    411px 944px var(--star-rgba),
    210px 636px var(--star-rgba),
    1502px 1295px var(--star-rgba),
    1434px 349px var(--star-rgba),
    769px 60px var(--star-rgba),
    747px 1053px var(--star-rgba),
    789px 504px var(--star-rgba),
    1436px 1264px var(--star-rgba),
    1893px 1225px var(--star-rgba),
    1394px 1788px var(--star-rgba),
    1108px 1317px var(--star-rgba),
    1673px 1395px var(--star-rgba),
    854px 1010px var(--star-rgba),
    1705px 80px var(--star-rgba),
    1858px 148px var(--star-rgba),
    1729px 344px var(--star-rgba),
    1388px 664px var(--star-rgba),
    895px 406px var(--star-rgba),
    1479px 157px var(--star-rgba),
    1441px 1157px var(--star-rgba),
    552px 1900px var(--star-rgba),
    516px 364px var(--star-rgba),
    1647px 189px var(--star-rgba),
    1427px 1071px var(--star-rgba),
    785px 729px var(--star-rgba),
    1080px 1710px var(--star-rgba),
    504px 204px var(--star-rgba),
    1177px 1622px var(--star-rgba),
    657px 34px var(--star-rgba),
    1296px 1099px var(--star-rgba),
    248px 180px var(--star-rgba),
    1212px 1568px var(--star-rgba),
    667px 1562px var(--star-rgba),
    695px 841px var(--star-rgba),
    1608px 1247px var(--star-rgba),
    751px 882px var(--star-rgba),
    87px 167px var(--star-rgba),
    607px 1368px var(--star-rgba),
    1363px 1203px var(--star-rgba),
    1836px 317px var(--star-rgba),
    1668px 1703px var(--star-rgba),
    830px 1154px var(--star-rgba),
    1721px 1398px var(--star-rgba),
    1601px 1280px var(--star-rgba),
    976px 874px var(--star-rgba),
    1743px 254px var(--star-rgba),
    1020px 1815px var(--star-rgba),
    1670px 1766px var(--star-rgba),
    1890px 735px var(--star-rgba),
    1379px 136px var(--star-rgba),
    1864px 695px var(--star-rgba),
    206px 965px var(--star-rgba),
    1404px 1932px var(--star-rgba),
    1923px 1360px var(--star-rgba),
    247px 682px var(--star-rgba),
    519px 1708px var(--star-rgba),
    645px 750px var(--star-rgba),
    1164px 1204px var(--star-rgba),
    834px 323px var(--star-rgba),
    172px 1350px var(--star-rgba),
    213px 972px var(--star-rgba),
    1837px 190px var(--star-rgba),
    285px 1806px var(--star-rgba),
    1047px 1299px var(--star-rgba),
    1548px 825px var(--star-rgba),
    1730px 324px var(--star-rgba),
    1346px 1909px var(--star-rgba),
    772px 270px var(--star-rgba),
    345px 1190px var(--star-rgba),
    478px 1433px var(--star-rgba),
    1479px 25px var(--star-rgba),
    1994px 1830px var(--star-rgba),
    1744px 732px var(--star-rgba),
    20px 1635px var(--star-rgba),
    690px 1795px var(--star-rgba),
    1594px 569px var(--star-rgba),
    579px 245px var(--star-rgba),
    1398px 733px var(--star-rgba),
    408px 1352px var(--star-rgba),
    1774px 120px var(--star-rgba),
    1152px 1370px var(--star-rgba),
    1698px 1810px var(--star-rgba),
    710px 1450px var(--star-rgba),
    665px 286px var(--star-rgba),
    493px 1720px var(--star-rgba),
    786px 5px var(--star-rgba),
    637px 1140px var(--star-rgba),
    764px 324px var(--star-rgba),
    927px 310px var(--star-rgba),
    938px 1424px var(--star-rgba),
    1884px 744px var(--star-rgba),
    913px 462px var(--star-rgba),
    1831px 1936px var(--star-rgba),
    1527px 249px var(--star-rgba),
    36px 1381px var(--star-rgba),
    1597px 581px var(--star-rgba),
    1530px 355px var(--star-rgba),
    949px 459px var(--star-rgba),
    799px 828px var(--star-rgba),
    242px 1471px var(--star-rgba),
    654px 797px var(--star-rgba),
    796px 594px var(--star-rgba),
    1365px 678px var(--star-rgba),
    752px 23px var(--star-rgba),
    1630px 541px var(--star-rgba),
    982px 72px var(--star-rgba),
    1733px 1831px var(--star-rgba),
    21px 412px var(--star-rgba),
    775px 998px var(--star-rgba),
    335px 1945px var(--star-rgba),
    264px 583px var(--star-rgba),
    158px 1311px var(--star-rgba),
    528px 164px var(--star-rgba),
    1978px 574px var(--star-rgba),
    717px 1203px var(--star-rgba),
    734px 1591px var(--star-rgba),
    1555px 820px var(--star-rgba),
    16px 1943px var(--star-rgba),
    1625px 1177px var(--star-rgba),
    1236px 690px var(--star-rgba),
    1585px 1590px var(--star-rgba),
    1737px 1728px var(--star-rgba),
    721px 698px var(--star-rgba),
    1804px 1186px var(--star-rgba),
    166px 980px var(--star-rgba),
    1850px 230px var(--star-rgba),
    330px 1712px var(--star-rgba),
    95px 797px var(--star-rgba),
    1948px 1078px var(--star-rgba),
    469px 939px var(--star-rgba),
    1269px 1899px var(--star-rgba),
    955px 1220px var(--star-rgba),
    1137px 1075px var(--star-rgba),
    312px 1293px var(--star-rgba),
    986px 1762px var(--star-rgba),
    1103px 1238px var(--star-rgba),
    428px 1993px var(--star-rgba),
    355px 570px var(--star-rgba),
    977px 1836px var(--star-rgba),
    1395px 1092px var(--star-rgba),
    276px 913px var(--star-rgba),
    1743px 656px var(--star-rgba),
    773px 502px var(--star-rgba),
    1686px 1322px var(--star-rgba),
    1516px 1945px var(--star-rgba),
    1334px 501px var(--star-rgba),
    266px 156px var(--star-rgba),
    455px 655px var(--star-rgba),
    798px 72px var(--star-rgba),
    1059px 1259px var(--star-rgba),
    1402px 1687px var(--star-rgba),
    236px 1329px var(--star-rgba),
    1455px 786px var(--star-rgba),
    146px 1228px var(--star-rgba),
    1851px 823px var(--star-rgba),
    1062px 100px var(--star-rgba),
    1220px 953px var(--star-rgba),
    20px 1826px var(--star-rgba),
    36px 1063px var(--star-rgba),
    1525px 338px var(--star-rgba),
    790px 1521px var(--star-rgba),
    741px 1099px var(--star-rgba),
    288px 1489px var(--star-rgba),
    700px 1060px var(--star-rgba),
    390px 1071px var(--star-rgba),
    411px 1036px var(--star-rgba),
    1853px 1072px var(--star-rgba),
    1446px 1085px var(--star-rgba),
    1164px 874px var(--star-rgba),
    924px 925px var(--star-rgba),
    291px 271px var(--star-rgba),
    1257px 1964px var(--star-rgba),
    1580px 1352px var(--star-rgba),
    1507px 1216px var(--star-rgba),
    211px 956px var(--star-rgba),
    985px 1195px var(--star-rgba),
    975px 1640px var(--star-rgba),
    518px 101px var(--star-rgba),
    663px 1395px var(--star-rgba),
    914px 532px var(--star-rgba),
    145px 1320px var(--star-rgba),
    69px 1397px var(--star-rgba),
    982px 523px var(--star-rgba),
    257px 725px var(--star-rgba),
    1599px 831px var(--star-rgba),
    1636px 1513px var(--star-rgba),
    1250px 1158px var(--star-rgba),
    1132px 604px var(--star-rgba),
    183px 102px var(--star-rgba),
    1057px 318px var(--star-rgba),
    1247px 1835px var(--star-rgba),
    1983px 1110px var(--star-rgba),
    1077px 1455px var(--star-rgba),
    921px 1770px var(--star-rgba),
    806px 1350px var(--star-rgba),
    1938px 1992px var(--star-rgba),
    855px 1260px var(--star-rgba),
    902px 1345px var(--star-rgba),
    658px 1908px var(--star-rgba),
    1845px 679px var(--star-rgba),
    712px 1482px var(--star-rgba),
    595px 950px var(--star-rgba),
    1784px 1992px var(--star-rgba),
    1847px 1785px var(--star-rgba),
    691px 1004px var(--star-rgba),
    175px 1179px var(--star-rgba),
    1666px 1911px var(--star-rgba),
    41px 61px var(--star-rgba),
    971px 1080px var(--star-rgba),
    1830px 1450px var(--star-rgba),
    1351px 1518px var(--star-rgba),
    1257px 99px var(--star-rgba),
    1395px 1498px var(--star-rgba),
    1117px 252px var(--star-rgba),
    1779px 597px var(--star-rgba),
    1346px 729px var(--star-rgba),
    1108px 1144px var(--star-rgba),
    402px 691px var(--star-rgba),
    72px 496px var(--star-rgba),
    1673px 1604px var(--star-rgba),
    1497px 974px var(--star-rgba),
    1865px 1664px var(--star-rgba),
    88px 806px var(--star-rgba),
    918px 77px var(--star-rgba),
    244px 1118px var(--star-rgba),
    256px 1820px var(--star-rgba),
    1851px 1840px var(--star-rgba),
    605px 1851px var(--star-rgba),
    634px 383px var(--star-rgba),
    865px 37px var(--star-rgba),
    943px 1024px var(--star-rgba),
    1951px 177px var(--star-rgba),
    1097px 523px var(--star-rgba),
    985px 1700px var(--star-rgba),
    1243px 122px var(--star-rgba),
    768px 1070px var(--star-rgba),
    468px 194px var(--star-rgba),
    320px 1867px var(--star-rgba),
    1850px 185px var(--star-rgba),
    380px 1616px var(--star-rgba),
    468px 1294px var(--star-rgba),
    1122px 1743px var(--star-rgba),
    884px 299px var(--star-rgba),
    1300px 1917px var(--star-rgba),
    1860px 396px var(--star-rgba),
    1270px 990px var(--star-rgba),
    529px 733px var(--star-rgba),
    1975px 1347px var(--star-rgba),
    1885px 685px var(--star-rgba),
    226px 506px var(--star-rgba),
    651px 878px var(--star-rgba),
    1323px 680px var(--star-rgba),
    1284px 680px var(--star-rgba),
    238px 1967px var(--star-rgba),
    911px 174px var(--star-rgba),
    1111px 521px var(--star-rgba),
    1150px 85px var(--star-rgba),
    794px 502px var(--star-rgba),
    484px 1856px var(--star-rgba),
    1809px 368px var(--star-rgba),
    112px 953px var(--star-rgba),
    590px 1009px var(--star-rgba),
    1655px 311px var(--star-rgba),
    100px 1026px var(--star-rgba),
    1803px 352px var(--star-rgba),
    865px 306px var(--star-rgba),
    1077px 1019px var(--star-rgba),
    1335px 872px var(--star-rgba),
    1647px 1298px var(--star-rgba),
    1233px 1387px var(--star-rgba),
    698px 1036px var(--star-rgba),
    659px 1860px var(--star-rgba),
    388px 1412px var(--star-rgba),
    1212px 458px var(--star-rgba),
    755px 1468px var(--star-rgba),
    696px 1654px var(--star-rgba),
    1144px 60px var(--star-rgba);
}

/* [xdata-theme='light'] {
  background-color: #442961;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cfilter id=%22b%22 x=%22-200%25%22 y=%22-200%25%22 width=%22500%25%22 height=%22500%25%22%3E%3CfeGaussianBlur in=%22SourceGraphic%22 stdDeviation=%2220%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath fill=%22%23231631%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cellipse cx=%22103.497%22 cy=%2291.155%22 rx=%221.507%22 ry=%221.176%22 fill=%22%23fff%22 opacity=%22.725%22%2F%3E%3Cellipse cx=%22339.504%22 cy=%22122.673%22 rx=%221.575%22 ry=%221.096%22 fill=%22%23fff%22 opacity=%22.746%22%2F%3E%3Cellipse cx=%22467.267%22 cy=%2270.906%22 rx=%221.341%22 ry=%221.287%22 fill=%22%23fff%22 opacity=%22.681%22%2F%3E%3Cellipse cx=%22691.263%22 cy=%2299.354%22 rx=%221.794%22 ry=%221.645%22 fill=%22%23fff%22 opacity=%22-.109%22%2F%3E%3Cellipse cx=%22839.66%22 cy=%2261.926%22 rx=%221.476%22 ry=%221.355%22 fill=%22%23fff%22 opacity=%22.953%22%2F%3E%3Cellipse cx=%221110.532%22 cy=%22107.32%22 rx=%221.965%22 ry=%221.535%22 fill=%22%23fff%22 opacity=%22.333%22%2F%3E%3Cellipse cx=%221365.195%22 cy=%2227.91%22 rx=%221.202%22 ry=%221.014%22 fill=%22%23fff%22 opacity=%22.134%22%2F%3E%3Cellipse cx=%221402.476%22 cy=%2296.232%22 rx=%222.379%22 ry=%221.911%22 fill=%22%23fff%22 opacity=%22.054%22%2F%3E%3Cellipse cx=%221778.195%22 cy=%2269.117%22 rx=%222.204%22 ry=%221.808%22 fill=%22%23fff%22 opacity=%22.294%22%2F%3E%3Cellipse cx=%221962.838%22 cy=%2220.712%22 rx=%222.169%22 ry=%221.943%22 fill=%22%23fff%22 opacity=%22.463%22%2F%3E%3Cellipse cx=%223.79%22 cy=%22145.506%22 rx=%221.455%22 ry=%221.401%22 fill=%22%23fff%22 opacity=%22.644%22%2F%3E%3Cellipse cx=%22385.917%22 cy=%22273.918%22 rx=%221.265%22 ry=%221.103%22 fill=%22%23fff%22 opacity=%22.852%22%2F%3E%3Cellipse cx=%22422.571%22 cy=%22252.275%22 rx=%221.616%22 ry=%221.357%22 fill=%22%23fff%22 opacity=%22.017%22%2F%3E%3Cellipse cx=%22650.186%22 cy=%22207.1%22 rx=%222.149%22 ry=%221.715%22 fill=%22%23fff%22 opacity=%22.233%22%2F%3E%3Cellipse cx=%22907.095%22 cy=%22262.914%22 rx=%221.656%22 ry=%221.458%22 fill=%22%23fff%22 opacity=%22.857%22%2F%3E%3Cellipse cx=%221186.841%22 cy=%22143.676%22 rx=%221.289%22 ry=%221.189%22 fill=%22%23fff%22 opacity=%22.022%22%2F%3E%3Cellipse cx=%221320.187%22 cy=%22170.593%22 rx=%221.326%22 ry=%221.271%22 fill=%22%23fff%22 opacity=%22-.203%22%2F%3E%3Cellipse cx=%221583.745%22 cy=%22162.326%22 rx=%221.241%22 ry=%221.222%22 fill=%22%23fff%22 opacity=%22.39%22%2F%3E%3Cellipse cx=%221717.015%22 cy=%22176.539%22 rx=%221.221%22 ry=%221.08%22 fill=%22%23fff%22 opacity=%22-.131%22%2F%3E%3Cellipse cx=%221993.444%22 cy=%22208.723%22 rx=%221.335%22 ry=%221.315%22 fill=%22%23fff%22 opacity=%22.496%22%2F%3E%3Cellipse cx=%2293.809%22 cy=%22294.915%22 rx=%221.602%22 ry=%221.316%22 fill=%22%23fff%22 opacity=%22.306%22%2F%3E%3Cellipse cx=%22204.355%22 cy=%22355.92%22 rx=%222.059%22 ry=%221.901%22 fill=%22%23fff%22 opacity=%22-.021%22%2F%3E%3Cellipse cx=%22472.704%22 cy=%22376.44%22 rx=%222.189%22 ry=%221.716%22 fill=%22%23fff%22 opacity=%22-.03%22%2F%3E%3Cellipse cx=%22749.471%22 cy=%22372.197%22 rx=%222.053%22 ry=%221.78%22 fill=%22%23fff%22 opacity=%22.759%22%2F%3E%3Cellipse cx=%22823.036%22 cy=%22296.612%22 rx=%221.904%22 ry=%221.865%22 fill=%22%23fff%22 opacity=%22.631%22%2F%3E%3Cellipse cx=%221047.291%22 cy=%22294.02%22 rx=%222.097%22 ry=%221.895%22 fill=%22%23fff%22 opacity=%22.345%22%2F%3E%3Cellipse cx=%221241.781%22 cy=%22334.638%22 rx=%221.788%22 ry=%221.701%22 fill=%22%23fff%22 opacity=%22-.048%22%2F%3E%3Cellipse cx=%221554.306%22 cy=%22287.511%22 rx=%221.214%22 ry=%221.107%22 fill=%22%23fff%22 opacity=%22.797%22%2F%3E%3Cellipse cx=%221613.456%22 cy=%22415.759%22 rx=%221.705%22 ry=%221.479%22 fill=%22%23fff%22 opacity=%22-.118%22%2F%3E%3Cellipse cx=%221823.094%22 cy=%22371.957%22 rx=%221.478%22 ry=%221.083%22 fill=%22%23fff%22 opacity=%22.116%22%2F%3E%3Cellipse cx=%22120.791%22 cy=%22480.692%22 rx=%222.224%22 ry=%221.768%22 fill=%22%23fff%22 opacity=%22.515%22%2F%3E%3Cellipse cx=%22389.586%22 cy=%22439.279%22 rx=%221.219%22 ry=%221.02%22 fill=%22%23fff%22 opacity=%22.472%22%2F%3E%3Cellipse cx=%22521%22 cy=%22426.623%22 rx=%222.051%22 ry=%221.789%22 fill=%22%23fff%22 opacity=%22.414%22%2F%3E%3Cellipse cx=%22673.857%22 cy=%22546.572%22 rx=%221.33%22 ry=%221.132%22 fill=%22%23fff%22 opacity=%22.689%22%2F%3E%3Cellipse cx=%22885.309%22 cy=%22440.7%22 rx=%221.864%22 ry=%221.653%22 fill=%22%23fff%22 opacity=%22.463%22%2F%3E%3Cellipse cx=%221164.452%22 cy=%22459.983%22 rx=%221.923%22 ry=%221.496%22 fill=%22%23fff%22 opacity=%22.126%22%2F%3E%3Cellipse cx=%221383.157%22 cy=%22490.943%22 rx=%221.731%22 ry=%221.47%22 fill=%22%23fff%22 opacity=%22.102%22%2F%3E%3Cellipse cx=%221548.382%22 cy=%22424.316%22 rx=%222.08%22 ry=%221.961%22 fill=%22%23fff%22 opacity=%22.066%22%2F%3E%3Cellipse cx=%221677.734%22 cy=%22521.305%22 rx=%222.111%22 ry=%221.904%22 fill=%22%23fff%22 opacity=%22.818%22%2F%3E%3Cellipse cx=%221851.902%22 cy=%22463.725%22 rx=%221.742%22 ry=%221.563%22 fill=%22%23fff%22 opacity=%22.053%22%2F%3E%3Cellipse cx=%2241.721%22 cy=%22638.409%22 rx=%222.387%22 ry=%221.887%22 fill=%22%23fff%22 opacity=%22.375%22%2F%3E%3Cellipse cx=%22337.107%22 cy=%22654.3%22 rx=%222.271%22 ry=%221.781%22 fill=%22%23fff%22 opacity=%22.535%22%2F%3E%3Cellipse cx=%22480.975%22 cy=%22581.244%22 rx=%222.239%22 ry=%221.88%22 fill=%22%23fff%22 opacity=%22.849%22%2F%3E%3Cellipse cx=%22752.179%22 cy=%22650.403%22 rx=%221.632%22 ry=%221.577%22 fill=%22%23fff%22 opacity=%22.762%22%2F%3E%3Cellipse cx=%22861.504%22 cy=%22695.787%22 rx=%222.347%22 ry=%221.931%22 fill=%22%23fff%22 opacity=%22.465%22%2F%3E%3Cellipse cx=%221006.509%22 cy=%22576.967%22 rx=%222.332%22 ry=%221.989%22 fill=%22%23fff%22 opacity=%22.847%22%2F%3E%3Cellipse cx=%221351.151%22 cy=%22590.407%22 rx=%221.507%22 ry=%221.091%22 fill=%22%23fff%22 opacity=%22.742%22%2F%3E%3Cellipse cx=%221496.447%22 cy=%22684.93%22 rx=%221.859%22 ry=%221.615%22 fill=%22%23fff%22 opacity=%22.06%22%2F%3E%3Cellipse cx=%221722.429%22 cy=%22574.932%22 rx=%221.643%22 ry=%221.311%22 fill=%22%23fff%22 opacity=%22.52%22%2F%3E%3Cellipse cx=%221804.79%22 cy=%22662.898%22 rx=%221.611%22 ry=%221.146%22 fill=%22%23fff%22 opacity=%22.128%22%2F%3E%3Cellipse cx=%2222.794%22 cy=%22773.005%22 rx=%221.205%22 ry=%221.02%22 fill=%22%23fff%22 opacity=%22-.077%22%2F%3E%3Cellipse cx=%22360.562%22 cy=%22712.252%22 rx=%221.362%22 ry=%221.209%22 fill=%22%23fff%22 opacity=%22.352%22%2F%3E%3Cellipse cx=%22416.948%22 cy=%22757.824%22 rx=%222.162%22 ry=%221.771%22 fill=%22%23fff%22 opacity=%22.704%22%2F%3E%3Cellipse cx=%22667.812%22 cy=%22773.131%22 rx=%221.416%22 ry=%221.395%22 fill=%22%23fff%22 opacity=%22-.2%22%2F%3E%3Cellipse cx=%22832.177%22 cy=%22815.514%22 rx=%221.79%22 ry=%221.323%22 fill=%22%23fff%22 opacity=%22.615%22%2F%3E%3Cellipse cx=%221180.797%22 cy=%22766.207%22 rx=%221.921%22 ry=%221.639%22 fill=%22%23fff%22 opacity=%22.188%22%2F%3E%3Cellipse cx=%221322.999%22 cy=%22812.763%22 rx=%222.074%22 ry=%221.632%22 fill=%22%23fff%22 opacity=%22-.161%22%2F%3E%3Cellipse cx=%221498.02%22 cy=%22814.594%22 rx=%221.852%22 ry=%221.473%22 fill=%22%23fff%22 opacity=%22-.181%22%2F%3E%3Cellipse cx=%221636.933%22 cy=%22821.791%22 rx=%221.143%22 ry=%221.073%22 fill=%22%23fff%22 opacity=%22.535%22%2F%3E%3Cellipse cx=%221806.029%22 cy=%22721.365%22 rx=%221.732%22 ry=%221.639%22 fill=%22%23fff%22 opacity=%22.316%22%2F%3E%3Cellipse cx=%2252.719%22 cy=%22966.749%22 rx=%221.753%22 ry=%221.583%22 fill=%22%23fff%22 opacity=%22.69%22%2F%3E%3Cellipse cx=%22306.175%22 cy=%22860.377%22 rx=%221.879%22 ry=%221.732%22 fill=%22%23fff%22 opacity=%22.054%22%2F%3E%3Cellipse cx=%22528.428%22 cy=%22966.629%22 rx=%221.914%22 ry=%221.566%22 fill=%22%23fff%22 opacity=%22.613%22%2F%3E%3Cellipse cx=%22675.277%22 cy=%22889.604%22 rx=%221.641%22 ry=%221.229%22 fill=%22%23fff%22 opacity=%22.841%22%2F%3E%3Cellipse cx=%22836.912%22 cy=%22853.172%22 rx=%221.388%22 ry=%221.107%22 fill=%22%23fff%22 opacity=%22.414%22%2F%3E%3Cellipse cx=%221072.078%22 cy=%22940.893%22 rx=%221.853%22 ry=%221.75%22 fill=%22%23fff%22 opacity=%22.126%22%2F%3E%3Cellipse cx=%221345.743%22 cy=%22915.132%22 rx=%221.469%22 ry=%221.059%22 fill=%22%23fff%22 opacity=%22.508%22%2F%3E%3Cellipse cx=%221427.378%22 cy=%22867.313%22 rx=%222.381%22 ry=%221.946%22 fill=%22%23fff%22 opacity=%22.942%22%2F%3E%3Cellipse cx=%221787.921%22 cy=%22973.614%22 rx=%222.254%22 ry=%221.782%22 fill=%22%23fff%22 opacity=%22.234%22%2F%3E%3Cellipse cx=%221981.01%22 cy=%22929.726%22 rx=%221.289%22 ry=%221.162%22 fill=%22%23fff%22 opacity=%22.299%22%2F%3E%3Cellipse cx=%22133.04%22 cy=%221078.672%22 rx=%221.608%22 ry=%221.208%22 fill=%22%23fff%22 opacity=%22.406%22%2F%3E%3Cellipse cx=%22370.482%22 cy=%22985.556%22 rx=%221.753%22 ry=%221.459%22 fill=%22%23fff%22 opacity=%22-.125%22%2F%3E%3Cellipse cx=%22448.594%22 cy=%221035.219%22 rx=%222.264%22 ry=%221.972%22 fill=%22%23fff%22 opacity=%22.709%22%2F%3E%3Cellipse cx=%22613.339%22 cy=%221108.758%22 rx=%221.94%22 ry=%221.806%22 fill=%22%23fff%22 opacity=%22.002%22%2F%3E%3Cellipse cx=%22861.943%22 cy=%221054.398%22 rx=%221.656%22 ry=%221.46%22 fill=%22%23fff%22 opacity=%22.752%22%2F%3E%3Cellipse cx=%221131.024%22 cy=%221090.419%22 rx=%221.093%22 ry=%221.002%22 fill=%22%23fff%22 opacity=%22.737%22%2F%3E%3Cellipse cx=%221278.563%22 cy=%221046.932%22 rx=%221.644%22 ry=%221.318%22 fill=%22%23fff%22 opacity=%22.027%22%2F%3E%3Cellipse cx=%221594.661%22 cy=%221079.79%22 rx=%222.351%22 ry=%221.945%22 fill=%22%23fff%22 opacity=%22.815%22%2F%3E%3Cellipse cx=%221643.597%22 cy=%221043.43%22 rx=%221.55%22 ry=%221.374%22 fill=%22%23fff%22 opacity=%22.468%22%2F%3E%3Cellipse cx=%221890.152%22 cy=%221066.682%22 rx=%221.693%22 ry=%221.227%22 fill=%22%23fff%22 opacity=%22.374%22%2F%3E%3Cellipse cx=%22173.379%22 cy=%221218.175%22 rx=%222.296%22 ry=%221.812%22 fill=%22%23fff%22 opacity=%22.092%22%2F%3E%3Cellipse cx=%22217.629%22 cy=%221175.954%22 rx=%222.07%22 ry=%221.974%22 fill=%22%23fff%22 opacity=%22.077%22%2F%3E%3Cellipse cx=%22409.554%22 cy=%221223.702%22 rx=%221.527%22 ry=%221.394%22 fill=%22%23fff%22 opacity=%22.345%22%2F%3E%3Cellipse cx=%22723.216%22 cy=%221181.642%22 rx=%221.648%22 ry=%221.501%22 fill=%22%23fff%22 opacity=%22.631%22%2F%3E%3Cellipse cx=%22957.468%22 cy=%221216.09%22 rx=%221.532%22 ry=%221.392%22 fill=%22%23fff%22 opacity=%22.012%22%2F%3E%3Cellipse cx=%221172.532%22 cy=%221131.454%22 rx=%221.843%22 ry=%221.691%22 fill=%22%23fff%22 opacity=%22.071%22%2F%3E%3Cellipse cx=%221368.105%22 cy=%221236.931%22 rx=%222.255%22 ry=%221.81%22 fill=%22%23fff%22 opacity=%22.591%22%2F%3E%3Cellipse cx=%221469.759%22 cy=%221210.796%22 rx=%222.2%22 ry=%221.92%22 fill=%22%23fff%22 opacity=%22-.011%22%2F%3E%3Cellipse cx=%221679.442%22 cy=%221227.588%22 rx=%221.684%22 ry=%221.441%22 fill=%22%23fff%22 opacity=%22.543%22%2F%3E%3Cellipse cx=%221900.857%22 cy=%221258.932%22 rx=%221.609%22 ry=%221.481%22 fill=%22%23fff%22 opacity=%22.51%22%2F%3E%3Cellipse cx=%22146.847%22 cy=%221305.043%22 rx=%221.921%22 ry=%221.576%22 fill=%22%23fff%22 opacity=%22.374%22%2F%3E%3Cellipse cx=%22374.781%22 cy=%221307.363%22 rx=%222.258%22 ry=%221.976%22 fill=%22%23fff%22 opacity=%22-.003%22%2F%3E%3Cellipse cx=%22450.033%22 cy=%221370.999%22 rx=%221.462%22 ry=%221.299%22 fill=%22%23fff%22 opacity=%22.219%22%2F%3E%3Cellipse cx=%22624.023%22 cy=%221315.425%22 rx=%221.488%22 ry=%221.037%22 fill=%22%23fff%22 opacity=%22.162%22%2F%3E%3Cellipse cx=%22861.293%22 cy=%221370.002%22 rx=%221.788%22 ry=%221.712%22 fill=%22%23fff%22 opacity=%22.488%22%2F%3E%3Cellipse cx=%221196.275%22 cy=%221273.103%22 rx=%221.47%22 ry=%221.253%22 fill=%22%23fff%22 opacity=%22.206%22%2F%3E%3Cellipse cx=%221351.258%22 cy=%221308.103%22 rx=%221.228%22 ry=%221.105%22 fill=%22%23fff%22 opacity=%22.256%22%2F%3E%3Cellipse cx=%221528.502%22 cy=%221351.382%22 rx=%221.507%22 ry=%221.312%22 fill=%22%23fff%22 opacity=%22.47%22%2F%3E%3Cellipse cx=%221738.262%22 cy=%221323.02%22 rx=%221.46%22 ry=%221.091%22 fill=%22%23fff%22 opacity=%22.101%22%2F%3E%3Cellipse cx=%221893.125%22 cy=%221398.039%22 rx=%222.184%22 ry=%221.967%22 fill=%22%23fff%22 opacity=%22.261%22%2F%3E%3Cg transform=%22rotate(-64.289 138.066 -98.43)%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 x1=%220%22 y1=%221%22 x2=%22211.822%22 y2=%221%22 gradientUnits=%22userSpaceOnUse%22%3E%3Cstop stop-color=%22%23fff%22%2F%3E%3Cstop offset=%22.3%22 stop-color=%22%23fff%22 stop-opacity=%22.1%22%2F%3E%3Cstop offset=%22.7%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect x=%22-10.591%22 y=%22-8%22 width=%2284.729%22 height=%2216%22 rx=%2216%22 ry=%2216%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22127.093%22 height=%223.5%22 rx=%223.5%22 ry=%223.5%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2244.776%22 cy=%22-13.024%22 r=%222.377%22 fill=%22%23fff%22 opacity=%22.532%22%2F%3E%3Ccircle cx=%2248.933%22 cy=%22.573%22 r=%222.418%22 fill=%22%23fff%22 opacity=%22.568%22%2F%3E%3Ccircle cx=%2251.707%22 cy=%222.6%22 r=%221.966%22 fill=%22%23fff%22 opacity=%22.481%22%2F%3E%3Ccircle cx=%2230.99%22 cy=%222.505%22 r=%222.757%22 fill=%22%23fff%22 opacity=%22.619%22%2F%3E%3Ccircle cx=%2254.308%22 cy=%2211.146%22 r=%222.723%22 fill=%22%23fff%22 opacity=%22.418%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-57.459 799.648 -1130.922)%22%3E%3Crect x=%22-11.198%22 y=%22-8%22 width=%2289.581%22 height=%2216%22 rx=%2216%22 ry=%2216%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22134.372%22 height=%223.5%22 rx=%223.5%22 ry=%223.5%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2234.663%22 cy=%22-4.819%22 r=%222.919%22 fill=%22%23fff%22 opacity=%22.522%22%2F%3E%3Ccircle cx=%2235.47%22 cy=%22-15.231%22 r=%221.896%22 fill=%22%23fff%22 opacity=%22.549%22%2F%3E%3Ccircle cx=%2262.053%22 cy=%22-9.065%22 r=%221.273%22 fill=%22%23fff%22 opacity=%22.567%22%2F%3E%3Ccircle cx=%2242.601%22 cy=%2216.368%22 r=%222.601%22 fill=%22%23fff%22 opacity=%22.515%22%2F%3E%3Ccircle cx=%2259.797%22 cy=%2212.744%22 r=%221.349%22 fill=%22%23fff%22 opacity=%22.498%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-64.406 565.943 28.085)%22%3E%3Crect x=%22-11.013%22 y=%22-8%22 width=%2288.107%22 height=%2216%22 rx=%2216%22 ry=%2216%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22132.16%22 height=%223.5%22 rx=%223.5%22 ry=%223.5%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2243.609%22 cy=%223.613%22 r=%222.423%22 fill=%22%23fff%22 opacity=%22.446%22%2F%3E%3Ccircle cx=%2242.368%22 cy=%22-1.326%22 r=%221.009%22 fill=%22%23fff%22 opacity=%22.667%22%2F%3E%3Ccircle cx=%2252.245%22 cy=%22-15.455%22 r=%222.667%22 fill=%22%23fff%22 opacity=%22.45%22%2F%3E%3Ccircle cx=%2233.875%22 cy=%22.8%22 r=%221.859%22 fill=%22%23fff%22 opacity=%22.686%22%2F%3E%3Ccircle cx=%2264.702%22 cy=%22-10.66%22 r=%222.128%22 fill=%22%23fff%22 opacity=%22.485%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-61.17 925.29 -611.366)%22%3E%3Crect x=%22-11.009%22 y=%22-8%22 width=%2288.071%22 height=%2216%22 rx=%2216%22 ry=%2216%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22132.106%22 height=%223.5%22 rx=%223.5%22 ry=%223.5%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2246.429%22 cy=%22-1.672%22 r=%221.509%22 fill=%22%23fff%22 opacity=%22.498%22%2F%3E%3Ccircle cx=%2262.921%22 cy=%22-14.233%22 r=%221.022%22 fill=%22%23fff%22 opacity=%22.518%22%2F%3E%3Ccircle cx=%2262.374%22 cy=%22-10.632%22 r=%221.276%22 fill=%22%23fff%22 opacity=%22.501%22%2F%3E%3Ccircle cx=%2258.173%22 cy=%22-13.889%22 r=%221.693%22 fill=%22%23fff%22 opacity=%22.526%22%2F%3E%3Ccircle cx=%2246.846%22 cy=%2210.534%22 r=%221.946%22 fill=%22%23fff%22 opacity=%22.424%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-57.286 861.265 24.677)%22%3E%3Crect x=%22-10.86%22 y=%22-8%22 width=%2286.883%22 height=%2216%22 rx=%2216%22 ry=%2216%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22130.324%22 height=%223.5%22 rx=%223.5%22 ry=%223.5%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2259.146%22 cy=%22-3.327%22 r=%222.352%22 fill=%22%23fff%22 opacity=%22.691%22%2F%3E%3Ccircle cx=%2226.173%22 cy=%229.464%22 r=%221.258%22 fill=%22%23fff%22 opacity=%22.438%22%2F%3E%3Ccircle cx=%2244.517%22 cy=%229.12%22 r=%222.667%22 fill=%22%23fff%22 opacity=%22.419%22%2F%3E%3Ccircle cx=%2253.734%22 cy=%225.499%22 r=%221.288%22 fill=%22%23fff%22 opacity=%22.419%22%2F%3E%3Ccircle cx=%2243.521%22 cy=%22-7.49%22 r=%221.33%22 fill=%22%23fff%22 opacity=%22.56%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-57.104 1510.83 -1127.488)%22%3E%3Crect x=%22-10.705%22 y=%22-8%22 width=%2285.639%22 height=%2216%22 rx=%2216%22 ry=%2216%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22128.458%22 height=%223.5%22 rx=%223.5%22 ry=%223.5%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2236.895%22 cy=%2212.099%22 r=%222.505%22 fill=%22%23fff%22 opacity=%22.554%22%2F%3E%3Ccircle cx=%2224.568%22 cy=%222.504%22 r=%221.94%22 fill=%22%23fff%22 opacity=%22.44%22%2F%3E%3Ccircle cx=%2235.98%22 cy=%2213.308%22 r=%222.671%22 fill=%22%23fff%22 opacity=%22.435%22%2F%3E%3Ccircle cx=%2224.191%22 cy=%2214.665%22 r=%222.561%22 fill=%22%23fff%22 opacity=%22.675%22%2F%3E%3Ccircle cx=%2245.188%22 cy=%22-12.981%22 r=%221.646%22 fill=%22%23fff%22 opacity=%22.532%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-62.59 1202.001 -128.034)%22%3E%3Crect x=%22-10.858%22 y=%22-8%22 width=%2286.863%22 height=%2216%22 rx=%2216%22 ry=%2216%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22130.294%22 height=%223.5%22 rx=%223.5%22 ry=%223.5%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2226.934%22 cy=%224.865%22 r=%221.023%22 fill=%22%23fff%22 opacity=%22.497%22%2F%3E%3Ccircle cx=%2249.826%22 cy=%22-7.2%22 r=%221.477%22 fill=%22%23fff%22 opacity=%22.51%22%2F%3E%3Ccircle cx=%2232.831%22 cy=%22-13.054%22 r=%222.84%22 fill=%22%23fff%22 opacity=%22.542%22%2F%3E%3Ccircle cx=%2248.416%22 cy=%2213.737%22 r=%221.362%22 fill=%22%23fff%22 opacity=%22.577%22%2F%3E%3Ccircle cx=%2237.144%22 cy=%221.839%22 r=%221.819%22 fill=%22%23fff%22 opacity=%22.53%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-56.858 1861.17 -1156.492)%22%3E%3Crect x=%22-11.134%22 y=%22-8%22 width=%2289.074%22 height=%2216%22 rx=%2216%22 ry=%2216%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22133.611%22 height=%223.5%22 rx=%223.5%22 ry=%223.5%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2246.514%22 cy=%22-8.034%22 r=%222.079%22 fill=%22%23fff%22 opacity=%22.526%22%2F%3E%3Ccircle cx=%2249.576%22 cy=%2215.191%22 r=%221.363%22 fill=%22%23fff%22 opacity=%22.619%22%2F%3E%3Ccircle cx=%2222.372%22 cy=%222.015%22 r=%221.393%22 fill=%22%23fff%22 opacity=%22.695%22%2F%3E%3Ccircle cx=%2244.115%22 cy=%22-.704%22 r=%221.528%22 fill=%22%23fff%22 opacity=%22.529%22%2F%3E%3Ccircle cx=%2231.859%22 cy=%22-1.562%22 r=%221.486%22 fill=%22%23fff%22 opacity=%22.611%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-56.391 1420.662 -67.235)%22%3E%3Crect x=%22-10.751%22 y=%22-8%22 width=%2286.011%22 height=%2216%22 rx=%2216%22 ry=%2216%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22129.016%22 height=%223.5%22 rx=%223.5%22 ry=%223.5%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2258.719%22 cy=%22-16.017%22 r=%222.95%22 fill=%22%23fff%22 opacity=%22.692%22%2F%3E%3Ccircle cx=%2258.806%22 cy=%22-12.734%22 r=%222.419%22 fill=%22%23fff%22 opacity=%22.632%22%2F%3E%3Ccircle cx=%2245.239%22 cy=%22-.8%22 r=%221.557%22 fill=%22%23fff%22 opacity=%22.543%22%2F%3E%3Ccircle cx=%2222.562%22 cy=%226.607%22 r=%222.395%22 fill=%22%23fff%22 opacity=%22.691%22%2F%3E%3Ccircle cx=%2232.399%22 cy=%22-11.336%22 r=%221.227%22 fill=%22%23fff%22 opacity=%22.605%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-59.058 1832.565 -917.92)%22%3E%3Crect x=%22-10.772%22 y=%22-8%22 width=%2286.175%22 height=%2216%22 rx=%2216%22 ry=%2216%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22129.263%22 height=%223.5%22 rx=%223.5%22 ry=%223.5%22 fill=%22url(%23a)%22%2F%3E%3Ccircle cx=%2226.672%22 cy=%2214.427%22 r=%222.737%22 fill=%22%23fff%22 opacity=%22.411%22%2F%3E%3Ccircle cx=%2253.046%22 cy=%22-1.041%22 r=%221.167%22 fill=%22%23fff%22 opacity=%22.472%22%2F%3E%3Ccircle cx=%2233.094%22 cy=%228.872%22 r=%221.296%22 fill=%22%23fff%22 opacity=%22.594%22%2F%3E%3Ccircle cx=%2227.11%22 cy=%222.947%22 r=%221.198%22 fill=%22%23fff%22 opacity=%22.549%22%2F%3E%3Ccircle cx=%2235.629%22 cy=%2217.098%22 r=%222.799%22 fill=%22%23fff%22 opacity=%22.481%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
} */
